{% if request.user.is_authenticated %}
<p> Welcome {{user.username}}</p>
<form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <input type="submit" value="Logout">
</form>

{% else %}
<p>{{request.user}}</p>
<p>Please <a href="{% url 'login' %}">click here to login</a></p>
{% endif %}

<hr>
<h1>Todo List</h1>
<a href="{% url 'task-create' %}">Add Task</a>
<p></p>
<form method="GET">
    <input type="text" name="search-area" value="{{search_input}}"> 
    <input type="submit", value="search">
    

</form>

<table>
    <tr>
        <th> Item </th>
    </tr>
    {% for task in tasks  %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task' task.id %}">View</a></td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <h2>No items in list</h2>
    {% endfor %}
</table>